.pnsmbw1 a:link { color: #B03; }
.pnsmbw1 a:visited { color: #B03; }
.pnsmbw1 a:active { color: #B03; }
.pnsmbw1 a:hover { color:#007; }

.pnsmbw1back {
	background: url("background.png");
	background-position:left bottom;
}

.pnsmbw1 tr th {
	background: rgba(255, 159, 133, 0.85);
	text-shadow: 0px 0px 0px #000;
	color: black;
}

.pnsmbw1 tr td {
	background: rgba(141, 213, 255, 0.85);
	text-shadow: 0px 0px 0px #000;
	color: black;
}